.editor-container {
	position: relative;
	margin: auto;
	width: 816px;
	height: 1056px;
	background-color: white;
	border: 2px solid lightgray;
	box-shadow: 3px 5px 5px lightgray;
	padding: 15px;
	cursor: text;
}
.new-line-relative {
	position: relative;
	height: 18px;
}
.font-16 {
	font-size: 16px;
}
.editor-cursor {
	display: inline-block;
	cursor: text;
    position: absolute;
    height: 15px;
    width: 2px;
    background-color: black;
    animation: blinker 1s linear infinite;
    animation-duration: 0.8s;
}
@keyframes blinker {  
  50% { opacity: 0.0; }
}
span {
	position: relative;
}